<!DOCTYPE html>
<html>
<head>
    <title>Symptom Checker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #baaee5; /* Change the background color here */
        }

        h1 {
            color: #333;
        }

        ul {
            list-style-type: disc;
            margin-left: 20px;
        }

        form {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>{% block title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
</body>
</html>
